*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #1d2a2e;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    color: white;
    font-size: 17px;
    position: absolute;
    top: 13.5px; /* Adjust the top position as needed */
    left: 43px; /* Adjust the left position as needed */
    align-items: center;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}
nav {
    background-color: #11181a;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:firstchild {
    margin-right: auto;
}

.sidebar {
    color: #11181a;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.839);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.3s;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu-button{
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}